.fixed_navbar{

  &.fixed{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
    top: 0;
    background: #fff;
    box-shadow: 1px 3px 12px 9px #00000026;
  }

  &-container{
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    &-cart{
      display: flex;
      &__like{
        padding: 5px;
        a{
          display: flex;
          align-items: center;
          color:#000;
          font-family: $font-ptsans;
          span,p{
            display: inline;
            margin:0 5px;
          }
          p{

          }
          span{
            border-radius: 10px;
            background: #f36b5b;
            padding:0 5px;
            font-size:14px;
            color:#fff;
          }
        }
      }
      &__account{
        .dropdown{
          .dropdown-header{
            padding: 5px;
            a{
              color:#000;
              align-items: center;
              display: flex;
              p{
                font-size: 13px;
              }
            }

          }
          &:hover{
            .dropdown-header{
              border-right:1px solid #ccc;
              border-left:1px solid #ccc;
              border-top:1px solid #ccc;
              border-bottom:1px solid #ccc;
              border-radius: 5px ;
              padding: 4px;
            }
            .dropdown-content{
              max-height: 100px;
            }
          }
          .dropdown-content{
            position: absolute;
            z-index: 5;
            max-height: 0;
            overflow: hidden;
            transition: all .3s;
          }
        }
        &-navbar{
          img{
            float:left;
            margin-right:10px;
          }
          >p{
            font-size:13px;
          }

          &__items{
            li{
              border-right:1px solid #ccc;
              border-left:1px solid #ccc;
              border-bottom:1px solid #ccc;
              font-size: 13px;
              background: #fff;
              display: block;
              &:last-child{
                border-radius: 0 0 5px 5px;
              }

              a{
                display: block;
                padding: 10px;
                color:#000;
              }
            }
          }
        }
      }
      &__cart{
        padding: 5px;
        a{
          display: flex;
          align-items: center;
          color:#000;
          font-family: $font-ptsans;
          span,p{
            display: inline;
            margin:0 5px;
          }
          p{

          }
          span{
            border-radius: 10px;
            background: #0bab47;
            padding:0 5px;
            font-size:14px;
            color:#fff;
          }
        }
      }
    }
    &-catalog{
      &:hover{
        .fixed_navbar-container-catalog__dropdown{
          height: 516px;
          z-index:226;
        }
        >button{
          background-image: url(/catalog/view/theme/fruits/images/hover_state_list.png);
          background-repeat: no-repeat;
          background-position: left center;
          font-weight: bold;
        }
      }

      &__dropdown{
        background: #fff;
        height:0;
        z-index:0;
        overflow: hidden;
        transition: all 0.8s;
        position: absolute;
        .catalog_block{
          padding: 0;
          &_background{
            &-1, &-2{
            display: none;
            }
          }
          &_container{
            margin-top:10px;
            &-header{
              display: none;
            }
            &-subcategories{
              top:0;
            }
          }


        }
        >div{
          background: #fff;
        }


      }
      button{
        cursor: pointer;
        text-transform: uppercase;
        border:0 none;
        background: transparent;
        padding: 10px;
        font-size: 16px;

        padding-left: 30px;
        background-image: url(/catalog/view/theme/fruits/images/normal_state_list.png);
        background-repeat: no-repeat;
        background-position: left center;


      }
    }
  }
}