.product_card {
	display: block;
	&_container {
		display: block;
		position: relative;
		&-item {
			&-wrap {
				display: flex;
				-webkit-box-shadow: 0px 1px 5px 1px #00000063;
				-moz-box-shadow: 0px 1px 5px 1px #00000063;
				box-shadow: 0px 1px 5px 1px #00000063;
				margin-bottom: 100px;
				&__images {
					display: inline-block;
				    float: left;
				    width: 35%;
				    padding: 40px 50px;
				    position: relative;
				    &__breadcrumbs {
				    	font-size: 16px;
				    	line-height: 20px;
				    	padding-bottom: 40px;
				    	a {
				    		color: #000;
					    	span {
					    		color: #ff6d6d;
					    	}
					    }
				    	&:before {
				    		content: '';
				    		background: url('/catalog/view/theme/fruits/images/icons.png') no-repeat 0 0;
				    		display: inline-block;
				    		position: relative;
				    		width: 8px;
				    		height: 12px;
				    		padding-right: 5px;
				    	}
				    }
				    &__title {
				    	font-size: 30px;
				    	line-height: 35px;
				    	font-weight: 600;
				    	padding-bottom: 40px;
				    }
				    img {
				    	margin: auto;
					    width: auto !important;
					    display: block;
					    position: relative;
					    left: 0;
					    right: 0;
					    top: 0;
					    bottom: 0;
				    }
				}
				&__text-wrap {
					width: 56%;
					display: block;
					float: left;
					background: #f8fafb;
					padding: 55px 70px 40px 120px;
				    &__head {
				    	display: inline-block;
				    	padding-bottom: 20px;
				    	width: 100%;
				    	&_raty {
				    		float: left;
				    		display: inline-block;
				    		padding-right: 30px;
				    		width: 80%;
				    	}
				    	&_like {
					    	position: relative;
						    display: inline-block;
						    float: left;
						    width: 5%;
						    padding-right: 20px;
						    &__button {
						    	background: transparent;
							    border: none;
							    cursor: pointer;
						    }
					    }
					    &_repost {
					    	position: relative;
						    display: inline-block;
						    float: left;
						    width: 5%;
						}
				    }
				    &_container {
				    	position: relative;
				    	z-index: 1;
				    	&__tabs {
				    		border-top: 1px solid #ccc;
						    text-align: center;
						    /*display: inline-flex;
						    width: 100%;*/
						    ul {
						    	li {
						    		display: inline;
						    		a {
						    			padding: 25px 39px;
									    display: inline-block;
									    position: relative;
									    text-transform: uppercase;
									    color: #000;
									    &:before {
									    	content: "";
										    transition: all 1s;
										    width: 0;
										    height: 3px;
										    top: -2px;
										    left: 0;
										    display: block;
										    background: #f36b5b;
										    position: absolute;
									    }
									    &.active {
							                font-weight: 700;
							                cursor:default;
							                &:before {
							                  content: "";
							                  position: absolute;
							                  width: (100%);
							                  top: -2px;
							                  height: 3px;
							                  background: #f36b5b;
							                }
							              }
						    		}
						    		&:first-child {
						    			a {
						    				padding-left: 0;
						    			}
						    		}
						    		&:last-child {
						    			a {
						    				padding-right: 0;
						    			}
						    		}
						    	}
						    }
				    	}
				    	&-content {
				    		&__item {
				    			overflow: auto;
							    position: relative;
							    padding: 0 0 15px;
							    height: 260px;
							    width: 560px;
							    -webkit-box-sizing: border-box;
							    -moz-box-sizing: border-box;
							    box-sizing: border-box;
				    			&-content {
				    				display: block;
								    align-items: center;
								    p {
								    	padding-bottom: 25px;
								    }
								    &_table {
								      width: (100%);
					                  border: 0 none;
					                  border-collapse: collapse;
					                  border-spacing: 0;
					                  position: relative;
					                  thead {
					                  	border-top: 2px solid #ccc;
					                  	border-bottom: 2px solid #ccc;
					                  	th {
					                  	  text-align: left;
					                      font-size: 12px;
					                      line-height: 20px;
					                      padding: 5px 5px 5px 0px;
					                  	}
					                  }
					                  tbody {
					                  	td {
					                  	  border-bottom: 1px solid #ccc;
					                      padding: 6px 20px;
					                      text-align: left;
					                      font-size: 12px;
					                      line-height: 17px;
					                      &:first-child {
					                        padding-left: 0;
					                      }
					                  	}
					                  }
								    }
				    			}
				    		}
				    	}
				    }
				    &__addtocart {
				    	display: inline-block;
				    	position: relative;
				    	&_head {
				    		border-top: 1px solid #d6d6d6;
				    		border-bottom: 1px solid #d6d6d6;
				    		padding: 10px 0;
				    		margin-bottom: 30px;
				    		display: inline-block;
    						width: 100%;
    						&_type {
    							position: relative;
				    			text-align: right;
				    			width: 55%;
				    			float: left;
				    			&_title {
				    				display: inline-block;
				    				padding-right: 15px;
				    				font-size: 12px;
				    			}
				    			&-wrap {
				    			display: inline-block;
				    			background: #f4f4f4;
				    			border-radius: 7px;
							    -mox-border-radius: 7px;
		    					-webkit-border-radius: 7px;
				    				button {
				    					background: transparent;
									    border: 0 none;
									    width: 49px;
									    padding: 10px 5px;
									    box-sizing: border-box;
									    font-size: 12px;
									    &.active {
					    					background: #97e538;
										    box-shadow: 0 0 16px #00000063;
										    padding: 13px 5px;
										    color: #fff;
										    border-radius: 7px !important;
										    -mox-border-radius: 7px;
					    					-webkit-border-radius: 7px;
					    				}
				    				}
				    			}
    						}
				    		&_number {
				    			position: relative;
				    			text-align: right;
				    			width: 45%;
				    			float: left;
				    			&_title {
				    				display: inline-block;
				    				padding-right: 15px;
				    				font-size: 12px;
				    			}
				    			&-wrap {
				    			display: inline-block;
							    background: #f4f4f4;
							    color: #808080;
							    line-height: 24px;
							    padding: 10px;
							    border-radius: 7px;
							    -moz-border-radius: 7px;
							    -webkit-border-radius: 7px;
								    span {
										width: 25px;
										height: 25px;
										cursor: pointer;
										display: inline-block;
										text-align: center;
										&.minus:after {
											content: '';
											width: 1px;
											height: 20px;
											background: #d0d0d0;
											display: block;
										    position: relative;
										    right: -2px;
										    float: right;
										    top: 3px;
										}
										&.plus:before {
											content: '';
											width: 1px;
											height: 20px;
											background: #d0d0d0;
											display: block;
										    position: relative;
										    left: -2px;
										    float: left;
										    top: 3px;
										}
									}
									input[type="text"] {
										background: #f4f4f4;
										padding: 0 5px;
										border: 0 none;
										width: 30px;
										height: 25px;
										text-align: center;
									}
								}
							}
							&_type {
				    			position: relative;
				    			text-align: left;
				    			width: 50%;
				    			float: left;
				    			&_title {
				    				display: inline-block;
				    				padding-right: 15px;	
				    			}
							}				    		
				    	}
				    	&_price {
				    		width: 50%;
				    		float: left;
				    		text-align: left;
				    		font-size: 25px;
				    		line-height: 45px;
    						font-weight: 500;
    						span {
    						    font-size: 36px;
    							font-weight: 600;
                              &.old_price{
                                font-size: 26px;
                                text-decoration: line-through;
                                color:#ccc;
                                font-weight: normal;
                              }
    						}
				    	}
				    	&_button {
				    		width: 50%;
				    		float: left;
				    		a {
				    			padding: 10px 0;
							    background: #97e538;
							    text-transform: uppercase;
							    color: #fff;
							    border: 0 none;
							    box-shadow: 0 0 16px #00000063;
							    font-weight: 700;
							    font-size: 24px;
							    width: 100%;
							    display: flex;
							    justify-content: center;
							    align-items: center;
							    span {
							    	padding-right: 10px;
							    }
				    		}
				    	}
				    }
				}
			}
		}
		&_reviews {
			display: block;
			&-content {
				position: relative;
			    &-items {
			     	padding: 0;
				      &__person{
				        display: flex;
				        align-items: center;
				        justify-content: flex-start;
				        padding-bottom: 20px;
				        &-name{
				            width: 50%;
						    float: left;
						    text-align: left;
				          p{
				            font-size:16px;
				          }
				        }
				        &-raty {
				        	width: 50%;
						    float: right;
						    text-align: right;
				        }
				    }
				    &__comment{
				        margin-top:0px;
				        p{
				          font-size: 16px;
				          line-height: 20px;
				        }
				    }
				}
			}
			&__addreview{
		        display: none;
		        &__content{
		          padding: 10px 0;
		          min-height: 125px;
		          input,textarea{
		            padding: 15px 5px;
		            font-size: 16px;
		            font-family: $font-yandex-regular;
		            outline: 0 none;
		            display: block;
		            width:100%;
		            border: 0 none;
		            border-bottom: 1px solid #ccc;
		            background: transparent;
		            box-sizing: border-box;
		          }
		        }
		        &__header{
		         position: relative;
		          p{
		            font-size: 18px;
		            font-weight: 500;
		          }
		          &-close{
		            a{
		              position: absolute;
		              right: 15px;
		              top:5px;
		              display: block;
		            }

		          }
		        }
		      }
		      &-pagination{
		        background: transparent;
		        width: 23%;
			    float: right;
			    box-sizing: border-box;
			    position: relative;
			    top: 13px;

		      }
		      &__button{
		        margin-top:25px;
		        display: inline-block;
		        width: 77%;
    			float: left;
		        button{
		          outline: 0 none;
		          background: transparent;
		          cursor: pointer;
		          border:0 none;
		          color:#c6c6c6;
		          text-transform: uppercase;
		          font-weight: 500;
		          font-size: 20px;
		          padding:10px 0;

		        }
		    }
		}
	}
}
