<section class="contacts">
    <div class="container">
        <div class="contacts_container">
            <div class="contacts_container-header">
                <p>Наши контакты</p>
            </div>
            <div class="contacts_container-content">
                <div class="contacts_container-content_left">
                    <p class="block-title">У ВАС ЕСТЬ ВОПРОС ИЛИ  ПРЕДЛОЖЕНИЕ?</p>
                    <form action="">
                        <input class="form-input-custom" type="text" placeholder="Ваше Имя:" id="contacts-name">
                        <input class="form-input-custom" type="text" placeholder="Ваш Email:" id="contacts-email">
                        <input class="form-input-custom" type="text" placeholder="Ваше Сообщение:" id="contacts-message">

                        <button type="button" class="form-button-custom feedback_button">
                            ОТПРАВИТЬ
                        </button>
                    </form>
                </div>
                <div class="contacts_container-content_right">
                    <p class="block-title">СВЯЖИТЕСЬ С НАМИ!</p>
                    <div class="phones-wrapper">
                        <div class="phones-wrapper_phones">
                            <p>+38 (050) 232 23 33</p>
                            <p>+38 (050) 232 23 33</p>
                        </div>
                        <div class="phones-wrapper_icon">
                            <img src="/catalog/view/theme/fruits/images/icon-tel.png">
                        </div>
                    </div>
                    <p class="email-block">
                        INFO@LIQUIDFRUITS.COM.UA
                    </p>
                    <div class="address-wrapper">
                        <div class="address-wrapper_address">
                            73002, Украина, г.Херсон
                            пр.Текстильщиков, 7
                        </div>
                        <div class="address-wrapper_icon">
                            <img src="/catalog/view/theme/fruits/images/icon-pin.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>