<div class="product_card_container_reviews">
    {% if reviews %}
    <div id="pagereview" class="owl-carousel owl-theme review product_card_container_reviews-content">

        {% for review in reviews %}
        <div class="product_card_container_reviews-content-items item">
            <div class="product_card_container_reviews-content-items__person">
                <div class="product_card_container_reviews-content-items__person-name">
                    <p>{{ review.author }}</p>
                </div>
                <div class="product_card_container_reviews-content-items__person-raty raty" data-score="{{ review.rating }}"></div>
            </div>
            <div class="product_card_container_reviews-content-items__comment">
                <p>{{ review.text }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}
    <div class="product_card_container_reviews__addreview">
        <div class="product_card_container_reviews__addreview__header">
            <div class="product_card_container_reviews__addreview__header-close">
                <a href="#"><img src="/catalog/view/theme/fruits/images/icon-close.png" /></a>
            </div>
            <p>ДОБАВИТЬ СВОЙ ОТЗЫВ</p>
        </div>
        <div class="product_card_container_reviews__addreview__content">
            <input type="text" name="name" value="" placeholder="Укажите Ваше имя" />
            <textarea name="comment" placeholder="Оставьте Ваш отзыв" ></textarea>
            <div  id="customer_rating" class="raty" data-changer="1" data-size="16" data-score="5"></div>
            <p class="error"></p>
        </div>
    </div>
    <div class="product_card_container_reviews__button">
        <button data-product-id="{{ product_id }}">ДОБАВИТЬ ОТЗЫВ +</button>
    </div>
    <div class="owl-custom-pagination product_card_container_reviews-pagination">
    </div>
</div>