@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .blog_block {
    &_container {
      &_wrap-item {
        display: block;
        box-shadow: 0px 2px 5px 1px #00000063;
        padding: 30px 40px;
        box-sizing: border-box;
        &__images {
          width: 100%;
          float: left;
        }
        &__text {
          padding: 30px 0px 0;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }

  .category_block {
    &_container {
      &_content {
        &_list {
          padding: 0;
          &_item {
            &__text-wrap {
              padding: 5px 5px 5px 15px;
              &__text {
                padding-right: 70px;
              }
            }
          }
        }
      }
    }
  }

  .contacts_container{
    &-content{
      &_right{
        .email-block {
          font-size: 20px !important;
        }
      }
    }
  }

  .product_card {
    &_container {
      &-item {
        &-wrap {
          /*display: block;*/
          &__images {
            /*width: 100%;
            box-sizing: border-box;*/
          }
          &__text-wrap {
            padding: 55px 30px 40px 30px;
            /*width: 100%;*/
            box-sizing: border-box;
            &__head {
              &_raty {
                width: 75%;
              }
            }
              &_container {
              &__tabs {
                ul {
                  li {
                    display: inline;
                    a {
                      padding: 25px 10px;
                    }
                  }
                }
              }
            }
            &__addtocart {
              &_head {
                &_type {
                  &_title {
                    font-size: 15px;
                    display: block;
                    margin-bottom: 20px;
                  }
                }
                &_number {
                    &_title {
                      font-size: 15px;
                      display: block;
                      margin-bottom: 20px;
                    }
                  }
              }
            }
          }
        }
      }
    }
    .product_card_container-item-wrap__text-wrap_container-content__item {
      width: 100%;
    }
  }
  .ordering_block{
    &_container{
      margin: 0 auto;
      width: 73%;
      &__login {
        display: block;
        position: relative;
        left: 0;
      }
      &__delivery{
        display: block;
        position: absolute;
        left: 240px;
        top: 0;
      }
      &__address{
        display: block;
        position: absolute;
        z-index: 7;
        left: 0;
      }
      &__paid{
        display: block;
        position: relative;
        z-index: 6;
        left: 240px;
        top: 0;
      }
    }
  }

  .cart_block {
    &_container {
      &-item {
        &-wrap {
          margin: 20px 40px 20px 0;
          &__text-wrap {
          padding: 30px 30px 30px 25px;
          box-sizing: border-box;
          &__text {
            padding-right: 30px;
            box-sizing: border-box;
            &__sku,
            &__raty,
            &__rating {
              padding: 7px 20px 20px 0px;
            }
          }
          &__container {
            width: 130px;
          }
          }
        }
        &__checkout-total {
          width: 50%;
        }
        &__checkout-addtocart {
          width: 50%;
          a {
            float: right;
          }
        }
      }
    }
  }
}

@media (max-width: 998px) {
  .container {
    width: 772px;
  }
  .category_block {
    &_container {
      &_header {
        &_select {
          margin-bottom: 20px;
        }
        &_list {
          display: none;
        }
      }
      &_content {
        &_grid-item {
          width: 50%;
          &__items-container {
            &__content-addtocart {
              &.not-available {
                padding-top: 20px;
              }
            }
          }
        }
        &_list {
          display: none;
        }
      }
    }
  }

  .faq_block{
      &_container{
        &-content{
          &_wrapper{
            &.left{
              padding: 0 30px 0 10px;
            }
            &.right{
              padding: 0 10px 0 30px;
            }
            &__item{
              .yon{
                font-size: 30px;
                line-height: 35px;
                font-weight: 300;
              }
              &-title{
                max-width: 94%;
              }
            }
          }
        }
      }      
    }
    .reward_block {
      .owl-theme .owl-dots .owl-dot span {
        background: #c6c6c6;
        width: 20px;
        height: 20px;
      }
      .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #ccc;
      }
      .owl-theme .owl-nav [class*='owl-'] {
        display: none;
      }
    }
    .ordering_block{
    &_container{
      margin: 0 auto;
      width: 91%;
    }
  }

  .cart_block {
    &_container {
      &-item {
        position: relative;
        &-remove {
          position: absolute;
          top: 0;
          right: 0;
          float: right;
        }
        &-wrap {
          margin: 0 0 20px 0;
          &__text-wrap {
          padding: 30px 10px 30px 25px;
          &__text {
            padding-right: 30px;
            box-sizing: border-box;
            &__sku,
            &__raty,
            &__rating {
              padding: 7px 20px 20px 0px;
            }
          }
          &__container {
            width: 130px;
          }
          }
        }
        &__checkout-total {
          width: 50%;
          span {
            padding-top: 0;
          }
        }
        &__checkout-addtocart {
          width: 50%;
          a {
            float: right;
          }
        }
      }
    }
  }

  .product_card {
    &_container {
      &-item {
        &-wrap {
          display: table;
          width: 100%;
          &__images {
            width: 100%;
            box-sizing: border-box;
            padding: 40px 10px;
          }
          &__text-wrap {
            padding: 55px 10px 40px 10px;
            width: 100%;
            box-sizing: border-box;
            &__head {
              &_raty {
                width: 70%;
              }
            }
            &__addtocart {
              display: block;
            }
              &_container {
              &__tabs {
                ul {
                  li {
                    display: block;
                    width: 100%;
                    a {
                      padding: 25px 30px !important;
                    }
                  }
                }
              }
            }
            &__addtocart {
              &_head {
                &_type {
                  &_title {
                    font-size: 15px;
                    display: block;
                    margin-bottom: 20px;
                  }
                }
                &_number {
                    &_title {
                      font-size: 15px;
                      display: block;
                      margin-bottom: 20px;
                    }
                  }
              }
            }
          }
        }
      }
    }
    .product_card_container-item-wrap__text-wrap_container-content__item {
      width: 100%;
    }
    .product_card_container_reviews-pagination {
      width: 80px;
    }
  }

}

@media (max-width: 786px) {
  .container {
    width: 100%;
  }

  .breadcrumbs_block {
    &_container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .information_block_container{
    flex-direction: column;

    &-item{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }



  .reviews_block_container{
    padding: 0;

    &-wrapper{
      padding: 0 10px;
      &__addreview{
        margin-top:40px;
        &__header-close a{
          right:0;
          top:-20px;
        }
        &__content{
          min-height: 0;
        }
      }
      &__comment{
        p{
          font-size: 18px;
        }
      }
      &__button{
        margin-bottom: 25px;
        button{
          padding: 10px;
          font-size: 18px;

        }
      }
      &-pagination{
        right: 20px;
        bottom: 30px;
      }
    }
  }

  .fixed_navbar-container-catalog__dropdown{
    width: 100%;
  }

  .seo_block_container-content{
    &__tabs{
      ul{
        li{
          display: block;
          width: 100%;
        }
      }

    }
    &__wrapper{
      padding: 0 15px;
      &-content__item__container{
        flex-direction: column;
        &__text{
          padding: 0 15px;
        }

      }
    }

  }

  .product_list_container-header{
    flex-direction: column;
    &__item{
      margin-right: 0;
      text-align: center;

      a{
        padding-top: 10px;
        display: inline-block;
      }
    }
  }

  .owl-custom-pagination{
    padding: 5px 30px;
    .navigation{
      img:first-child{
        left:5px;
      }
      img:nth-child(2){
        right:5px;
      }
    }
    .count{
      font-size: 12px;
    }
  }

  .main_banner_container-items .item a{
    padding: 5px 10px;
    font-size: 12px;
  }

  .catalog_block_container-subcategories{
    width: 100%;
    right: 0;

    &__content{
      padding: 0 20px 20px 20px;
      &-item{
        width: 50%;
      }

    }
  }

  .fixed_navbar-container{
    &-cart__cart-price{
      display: none !important;
    }
    &-catalog button{

      font-size: 12px;
      text-align: right;
    }


  }

  .news_container-content__list{
    padding: 0;
    &-item{
      flex-direction: column;

      &__thumb{
        display: none;
      }
    }

  }
  .footer_container{
    margin:0;
    text-align: center;
    &-top{
      flex-direction: column;
      padding: 0;
      &__navbar-list{
        li{
          display: block;
          width: 100%;

        }
      }
    }
  }

  .contacts_container{
      margin-top: 50px;
    &-content{
      margin-bottom:30px;
      flex-direction: column;
      &_right{
        width:auto;
        text-align: center;

      }
      &_left{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom:20px;
        button.form-button-custom{
          margin: 20px auto;
        }
        input.form-input-custom{
          margin: 10px auto;
          text-align: center;
        }
      }
    }

  }

  .top_navbar-container{
    flex-direction: column;

    &__item{
      &-mobile-nav__container{
        display: none;
      }
      &-menu{
        display: none;
      }
      &:first-child{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-mobile-nav{
        display: block;
      }
      &-contacts{
        padding:15px 0;
        text-align: center;
      }
    }
  }

  .blog_block {
    &_container {
      &_wrap-item {
        &__images {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .social_block {
    &_container {
      &-header {
        padding-top: 0;
      }
      &_content {
        &__images {
          li {
            padding: 0 10px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .res {
      display: block !important;
      vertical-align: top;
      max-width: 100%;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 20px 0;
  }
  .res {
    -webkit-overflow-scrolling: touch;
    background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }
  .res .responsive {
    margin: 0;
    width: 100%;
  }

    .paid_block {
      &_container {
        &-content {
          &__wrapper {
            padding: 0 30px;
          }
        }
      }
      .paid_block_container-content__wrapper-content__item__container__text_table tbody td:first-child {
        padding-left: 20px;
      }
    }
    
    .seo_block.about {
        .about_consultation {
          margin: 100px 50px 50px;
        }
    }

    .faq_block{
      &_container{
        &-content{
          &_wrapper{
            &.left{
              width: 100%;
              padding: 0 10px 0 10px;
            }
            &.right{
              width: 100%;
              padding: 0 10px 0 10px;
            }
            &__item{
              .yon{
                line-height: 25px;
              }
              &-title{
                max-width: 90%;
              }
            }
          }
        }
      }      
    }

    .question_block{
      &_container{
        margin-bottom: 30px;
        &-content{
          display: block;
          &-item{
            border-bottom: 1px solid #ccc;
            border-right: 0 none;
            padding: 40px 0;
            width: 100%;
            &:last-child {
              border-bottom: 0 none;              
              padding-bottom: 0;
            }
          }
        }
        &-link {
          margin-bottom: 60px;
        }
      }
    }

    .ordering_block{
      &_container{
        &__login {

          width: auto;
          margin-left: auto;
          margin-right: auto;
        }
        &__delivery{
          width: auto;
          display: block;
          position: relative;
          left: 0;
          margin-left: auto;
          margin-right: auto;
        }
        &__address{
          width: auto;
          display: block;
          position: relative;
          margin-left: auto;
          margin-right: auto;
        }
        &__paid{
          width: auto;
          display: block;
          position: relative;
          left: 0;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
        }
      }
    }
  .cart_block {
    &_container {
      &-item {
        position: relative;
        &-wrap {
          display: inline-block;
          &__images {
            width: 100%;
            min-height: 180px;
          }
          &__text-wrap {
            display: inline-block;
          &__text {
            padding-right: 0;
            width: 100%;
          }
          &__container {
            width: 100%;
            padding: 0;
            text-align: left;
            &_number {
              margin-right: 30px;
              text-align: center;
            }
            &_price {
              display: inline-block;
            }
          }
          }
        }
        &__checkout {
          display: inline-block;
          text-align: center;
          margin: 70px auto 70px;
          width: 100%;
          &-total {
            width: 100%;
            margin-bottom: 30px;
            &:before {
              content:'';
              display: inline-block;
              float: none;
            }
            span {
              padding-top: 15px;
            }
          }
          &-addtocart {
            width: 100%;
            a {
              float: none;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .category_block {
    &_container {
      &_header {
        text-align: center;
        &_select {
          text-align: left;
        }
      }
      &_content {
        &_grid-item {
          width: 100%;
        }
      }
    }
  }

  .product_card_container-item-wrap__text-wrap__addtocart_button a span {
    padding-right: 0;
    font-size: 20px;
  }
  .feature_product_container-header p {
    padding: 20px;
  }

}