@import "components/font-awesome/fontawesome";
@import "components/owlcarousel/owl.carousel";
@import "components/owlcarousel/owl.theme.default";

@import "core/vars";
@import "core/general";

@import "blocks/top_navbar";
@import "blocks/fixed_navbar";
@import "blocks/main_banner";
@import "blocks/product_list";
@import "blocks/catalog_block";
@import "blocks/information_block";
@import "blocks/reviews_block";
@import "blocks/seo_block";
@import "blocks/news";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/login_modal";
@import "blocks/cart_block";
@import "blocks/breadcrumbs";
@import "blocks/blog_block";
@import "blocks/social_block";
@import "blocks/maps_block";
@import "blocks/paid";
@import "blocks/product_card";
@import "blocks/feature_product";
@import "blocks/category";
@import "blocks/about";
@import "blocks/reward_block";
@import "blocks/question_block";
@import "blocks/faq_block";
@import "blocks/ordering";

@import "pages/home";

@import "core/media"; 