{{ header }}
<section class="breadcrumbs_block">
    <div class="container">
        <div class="breadcrumbs_block_container">
            <ul class="breadcrumbs_block_container__bread-crumbs">
                <li><a class="home" href="index.html">Главная</a></li>
                <li><a href="#">Корзина покупок</a></li>
                <li>Оформление заказа</li>
            </ul>
        </div>
    </div>
</section>
<section id="ordering" class="ordering_block">
    <div class="container">
        <div class="ordering_block_container">
            <div class="ordering_block_container__login active">
                <div class="ordering_block_container__login-header">
                    <span class="step"><strong>Шаг 1</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/user-login.png" />
                </div>
                <div class="ordering_block_container__login-content">
                    <div class="tabs_container">
                        <div class="tabs">
                            <ul class="tabs_list">
                                <li><a class="active" href="#tab_register">Новый покупатель</a></li>
                                <li><a href="#tab_login">Постоянный клиент</a></li>
                            </ul>
                        </div>
                        <div class="tabs_items">
                            <div id="tab_register" class="login__form active">
                                <form id="register_form">
                                    <input type="text" name="name" value="" placeholder="Ваше имя*" />
                                    <input type="text" name="phone" value="" placeholder="Ваш номер телефона*" />
                                    <input type="email" name="email" value="" placeholder="Ваш Email" />
                                </form>
                                <div class="login__form-submit">
                                    <button disabled type="submit" form="register_form"><span>Выполнить вход</span></button>
                                </div>
                                <p class="follow">*email Если вы хотите следить за статусом выполнения заказа</p>
                            </div>
                            <div id="tab_login" class="login__form">
                                <form  id="login_form">
                                    <input type="email" name="email" value="" placeholder="Email" />
                                    <input type="password" name="password" value="" placeholder="Пароль" />
                                </form>
                                <div class="login__form-forget"><a href="#">Забыли свой парль?</a></div>
                                <div class="login__form-submit">
                                    <button type="submit" form="login_form"><span>Выполнить вход</span></button>
                                </div>
                                <div class="login__form-social">
                                    <p>Войти как пользователь: <a href="#"><img src="/catalog/view/theme/fruits/images/icon-facebook.png" /></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ordering_block_container__delivery">
                <div class="ordering_block_container__delivery-header">
                    <span class="step"><strong>Шаг 2</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/delivery.png" />
                    <span>Способ доставки</span>
                </div>
                <div class="ordering_block_container__delivery-content">
                    <button disabled class="ordering_block_container__delivery-content__button delivery"><span>Доставка курьером Херсон</span></button>
                    <button disabled class="ordering_block_container__delivery-content__button delivery"><span>Новая почта</span></button>
                    <button disabled class="ordering_block_container__delivery-content__button delivery active"><span>Самовывоз</span></button>
                    <div class="ordering_block_container__delivery-content-submit">
                        <button disabled type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
            <div class="ordering_block_container__address">
                <div class="ordering_block_container__address-header">
                    <span class="step"><strong>Шаг 3</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/address.png" />
                    <span>Адрес доставки</span>
                </div>
                <div class="ordering_block_container__address-content">
                    <form id="address_form">
                        <input disabled type="text" name="name" value="" placeholder="Ваш город*" />
                        <input disabled type="text" name="street" value="" placeholder="Ваша улица*" />
                        <input disabled type="text" name="number-home" value="" placeholder="Номер вашего дома*" />
                        <input disabled type="text" name="number-room" value="" placeholder="Номер вашей квартиры*" />
                    </form>
                    <div class="ordering_block_container__address-content-submit">
                        <button disabled form="address_form" type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
            <div class="ordering_block_container__paid">
                <div class="ordering_block_container__paid-header">
                    <span class="step"><strong>Шаг 4</strong> / 4</span>
                    <img src="/catalog/view/theme/fruits/images/paid.png" />
                    <span>Способы оплаты</span>
                </div>
                <div class="ordering_block_container__paid-content">
                    <button disabled class="ordering_block_container__paid-content__button paid"><span>Наличными при получении</span></button>
                    <button disabled class="ordering_block_container__paid-content__button paid active"><span>Оплата банковской картой</span></button>
                    <div class="ordering_block_container__paid-content-important">
                        <p><span>*</span> Оплата производится наложенным платежом при получении товара в почтовом отделении. Стоимость доставки товара рассчитывается индивидуально. Учитывается вес посылки, дальность отправления и способ доставки (наземная/авиа).</p>
                    </div>
                    <div class="ordering_block_container__paid-content-submit">
                        <button disabled type="submit"><span>Продолжить</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer }}