<div class="ordering_block_container__login-header">
    <span class="step"><strong>Шаг 1</strong> / 4</span>
    <img src="/catalog/view/theme/fruits/images/user-login.png" />
</div>
<div class="ordering_block_container__login-content">
    <!--<div class="ordering_block_container__login-content__continue">
        {% if checkout_guest %}
            <button class="">
                {{ text_guest }}
            </button>
        {% endif %}
    </div>
    -->
    <div class="tabs_container">
        <div class="tabs">
            <ul class="tabs_list">
                <li><a class="active" href="#tab_register">Новый покупатель</a></li>
                <li><a href="#tab_login">Постоянный клиент</a></li>
            </ul>
        </div>
        <div class="tabs_items">
            <div id="tab_register" class="login__form active">
                <form id="register_form_checkout">
                    <input type="email" name="email" value="" placeholder="Ваш Email" />
                    <input type="text" name="telephone" value="" placeholder="Ваш телефон" />
                    <input type="password" name="password" value="" placeholder="Пароль" />
                    <input type="password" name="confirm" value="" placeholder="Подтвердите пароль" />
                </form>
                <div class="login__form-submit">
                    <button  type="submit" form="register_form_checkout"><span>Регистрация</span></button>
                </div>
                <p class="follow">*email Если вы хотите следить за статусом выполнения заказа</p>
            </div>
            <div id="tab_login" class="login__form">
                <form  id="login_form_checkout">
                    <input type="email" name="email" value="" placeholder="Email" />
                    <input type="password" name="password" value="" placeholder="Пароль" />
                </form>
                <div class="login__form-forget"><a href="#">Забыли свой пароль?</a></div>
                <div class="login__form-submit">
                    <button type="submit" form="login_form_checkout"><span>Выполнить вход</span></button>
                </div>
                <div class="login__form-social">
                    <p>Войти как пользователь: <a href="#" onclick="$('.ulogin-button-facebook').click(); return false;"><img src="/catalog/view/theme/fruits/images/icon-facebook.png" /></a></p>
                </div>
            </div>
        </div>
    </div>
</div>