<div class="overlay-checkout-step"></div>
<div class="checkout-step-back">
    < <a href="#">Назад</a>
</div><div class="ordering_block_container__paid-header">
    <span class="step"><strong>Шаг 4</strong> / 4</span>
    <img src="/catalog/view/theme/fruits/images/paid.png" />
    <span>Способы оплаты</span>
</div>
<div class="ordering_block_container__paid-content">
    {% for payment_method in payment_methods %}
    {% if payment_method.code == code or loop.index==1 %}
        <button name="payment_method" value="{{ payment_method.code }}" class="ordering_block_container__paid-content__button paid active"><span>{{ payment_method.title }}</span></button>
    {% else %}
        <button name="payment_method" value="{{ payment_method.code }}"  class="ordering_block_container__paid-content__button paid"><span>{{ payment_method.title }}</span></button>
    {% endif %}
    {% endfor %}
    <div class="ordering_block_container__paid-content-important">
        <p><span>*</span> Оплата производится наложенным платежом при получении товара в почтовом отделении. Стоимость доставки товара рассчитывается индивидуально. Учитывается вес посылки, дальность отправления и способ доставки (наземная/авиа).</p>
    </div>
    <div class="ordering_block_container__paid-content-submit">
        <button  type="submit"><span>Продолжить</span></button>
    </div>
</div>