<div class="overlay-checkout-step"></div>
<div class="checkout-step-back">
    < <a href="#">Назад</a>
</div>
<div class="ordering_block_container__delivery-header">
    <span class="step"><strong>Шаг 2</strong> / 4</span>
    <img src="/catalog/view/theme/fruits/images/delivery.png" />
    <span>Способ доставки</span>
</div>
<div class="ordering_block_container__delivery-content">
    {% for shipping_method in shipping_methods %}
    {% for quote in shipping_method.quote %}
    <button name="shipping_method" value="{{ quote.code }}"  class="ordering_block_container__delivery-content__button {% if loop.parent.loop.index == 1 %}active{% endif %}"><span>{{ quote.title }}</span></button>
    {% endfor %}
    {% endfor %}

    <div class="ordering_block_container__delivery-content-submit">
        <button type="submit"><span>Продолжить</span></button>
    </div>
</div>