<div class="overlay-checkout-step"></div>
<div class="checkout-step-back">
    < <a href="#">Назад</a>
</div>
<div class="ordering_block_container__address-header">
    <span class="step"><strong>Шаг 3</strong> / 4</span>
    <img src="/catalog/view/theme/fruits/images/address.png" />
    <span>Адрес доставки</span>
</div>
<div class="ordering_block_container__address-content">
    <form id="address_form">
        <input type="text" id="input-shipping-city" name="shipping_city" value="" placeholder="Ваш город*" />
        <input  type="text" name="shipping_street" value="" placeholder="Ваша улица*" />
        <input  type="text" name="shipping_house" value="" placeholder="Номер вашего дома*" />
        <input  type="text" name="shipping_flat" value="" placeholder="Номер вашей квартиры*" />
        <input  type="text" name="shipping_new_post" value="" placeholder="Отделение новой почты" />
    </form>
    <div class="ordering_block_container__address-content-submit">
        <button form="address_form" type="submit"><span>Продолжить</span></button>
    </div>
</div>